{%load static%}
<!DOCTYPE html>

<head>


    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <title>login</title>
    
</head>

<body>

    <div id="contant">
        <div>
            <p>Login page</p>
        </div>
        <form action="./welcome.html" method="get">
            <label for=u>Enter User name</label>
            
            <input type="text" id="u"  name="user" value="Enter your user name here">
            <label for=p>Enter Password</label>
            <input type="password" id="p" name="pass">
            <a href="/trainee">Login</a>
        </form>
    </div>


</body>















</html>