{% extends 'trainee/listtrainee.html'%}
{%load static%}


    {% block content %}
    <p>User : {{user}}</p>
    <a href="/logout">Logout</a>
    <h1>course List</h1>
    <table border="1">
        <tr>
            <th>course ID</th>
            <th>course Name</th>
            <th>course description</th>
            <td>course price</td>
            <td>course option</td>
        {% for trainee in courses %}
        <tr>
            <td>{{ trainee.id }}</td>
            <td>{{ trainee.name }}</td>   
            <td>{{ trainee.description }}</td>
            <td>{{ trainee.price }}</td>
            <td><a href="delete/{{trainee.id}}">Delete</a>
            <a href="update/{{trainee.id}}">Update</a>
            </td>
              
        </tr>
        {% endfor %}
    </table>
    <a href="/course/add">Add course</a>
    {% endblock %}
   